<h3><%= "#{@members.count} People"  %></h3>
<% @members.each do |member| %>
  <ul class="member">
    <li class="name"><%=member.name%></li>
    <li class="photo"><%=member.photoUrl%></li>
    <% member.enemies.each do |enemie| %>
        <li class="enemies">
          <%= enemie %>
        </li>
    <% end %>
    <li class="affiliation"><%=member.affiliation%></li>
  </ul>

<% end %>
